.card--content{
    text-align: center;
    width: 100%;
    padding: 0;
}

article{
    border-radius: 15px;
}

#card{
    margin: 10px 0 !important;
}

button{
    border: none;
}

button:hover, button:active{
    background-color: lightcyan !important;
}

@media only screen and (min-width: 1200px){
    .card--content{
        width: 80%;
    }
}
