<div class="body">
<h1 class="title">ToDoList</h1>
  <button mat-raised-button color="accent" class="navigationButtons" (click)="router.navigate(['/add-item'])">Add Item</button>
  <button mat-raised-button color="accent" class="navigationButtons" (click)="router.navigate(['/history'])">History</button>
<div class="list" *ngIf="hasUnfinished();else emptyList">
  <div *ngFor="let listItem of list; index as i" class="listWrapper">
  <mat-card *ngIf="!listItem.isDone">
    <mat-card-header><h1>{{listItem.title}}</h1></mat-card-header>
    <mat-card-subtitle [class.dueDatePassed]="isDueDatePassed(i)">complete until {{listItem.date | date: "dd/MM/yyyy"}}</mat-card-subtitle>
    <mat-card-content>{{listItem.content}}</mat-card-content><mat-card-actions>
      <button mat-raised-button color="primary" class="actionButtons" (click)="toggleStatus(i)">Done</button>
      <button mat-raised-button color="warn" class="actionButtons" (click)="delete(i)">Delete</button>
    </mat-card-actions>
  </mat-card>
  </div>
</div>
<ng-template #emptyList>
  <h1 class="emptyList">Nothing's here yet...</h1>
</ng-template>
</div>
