<aside class="menu">
    <p class="menu-label">
        Navigation
    </p>
    <ul class="menu-list" *ngIf="navbarActive; else notActive">
        <li><a routerLink="/cards">Active cards</a></li>
        <li><a routerLink="/create-card">Create new card</a></li>
        <li><a routerLink="/finished-cards">Finished cards</a></li>
        <li><a (click)="onNavbar()"><ion-icon name="chevron-forward-outline"></ion-icon></a></li>
    </ul>
</aside>

<ng-template #notActive>
    <ul class="menu-list">
        <li><a (click)="onNavbar()"><ion-icon name="chevron-back-outline"></ion-icon></a></li>
    </ul>
</ng-template>
