mat-card{
  width: 100%;
  margin-top: 25px;
  background-color: rgb(255,63,128, 0.3);
  align-items: center;
  background-color: rgb(255,63,128, 0.3);
  box-shadow: 6px 6px 20px #888888;
}

.backButton{
  height: 50px;
  width: 150px;
}

button{
  margin: 10px;
  box-shadow: 4px 4px 20px #888888;
}

.list{
  display: flex;
  align-items: center;
  flex-direction: column;
}

.listWrapper{
  width: 40%;
}

.body{
  text-align: center;
  margin: 50px;
}

a{
  text-decoration: none;
  color: white;
}

mat-card-subtitle{
  margin-left: 10px;
}

.title{
  margin-top: 15px;
  font-size: 70px;
  margin-bottom: 50px;
  text-shadow: 1px 1px 6px #888888;
}

mat-card-actions{
  margin-left: 15px;
}

.emptyList{
  margin-top: 50px;
}

@media only screen and (max-width: 1200px){
  .listWrapper{
    width: 50%;
  }

  .body{
    margin: 0px;
  }

  mat-card{
    width: 150%;
    margin-left: -25%;
  }
}

@media only screen and (max-width: 400px){
  .mat-card{
    margin-left: 0px;
    width: 200%;
    padding: 0px;
  }

  .title{
    font-size: 45px;
  }

  mat-card-actions{
    flex-direction: column;
    width: 100%;
  }

  .listWrapper{
    width: 50%;
  }
}
