label{
    font-size: 20px;
}

button{
    margin-top: 10px;
}

button:hover, button:active{
    background-color: lightcyan !important;
}

form{
    width: 100%;
}

@media only screen and (min-width: 1200px){
    form{
        width: 80%;
    }
}
